# Build output
build/
x64/
.vs/

# Large files
videos/
*.mp4

# Submission zip
submission.zip
_staging/

# Output face crops (too many files)
test1/output/
test2/output/

# Keep frames as proof of Part 1 output
# test1/frames/   <- we WANT this in git
# test2/frames/   <- we WANT this in git

# VS files
*.user
*.suo
*.db
*.opendb
ipch/
Browse.VC.db

# OS
Thumbs.db
.DS_Store
